.about-section {
    width: 100%;
    min-height: 100vh;
    background-color: rgba(242, 242, 242, 1);
    color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    padding-top: 60px;
}

.dash {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    width: 200px;
    height: 3px;
    background-color: var(--primary-color);
}

.dash2 {
    width: 100%;
    height: 3px;
    background-color: var(--primary-color);
}

.subtitle {
    display: flex;
    justify-content: center;
    font-weight: 500;
    opacity: 0.6;
}

.about-heading {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
    font-size: 2.5rem;
}

.content-container {
    display: flex;
    min-height: 65vh;
    justify-content: center;
    gap: 15px;
    /*border: 1px solid black;*/
}

.left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 65vh;
    border: 1px solid rgba(125, 125, 125, 0.2);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(4px);
    text-align: center;
    animation: left-phase-in 0.8s ease-in;
    /*border: 1px solid black;*/
}

.left-container:hover {
    box-shadow: 0 0 12px rgba(255, 153, 51, 1);
}

.left-text {
    margin-bottom: 2px;
    margin-left: 2rem;
    margin-right: 2rem;
    font-weight: 500;
    /*font-style: italic;*/
    /*border: 1px solid black;*/
}

@keyframes left-phase-in {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }
    to {
        transform: translate(1px);
        opacity: 100;
    }
}

@keyframes right-phase-in {
    from {
        transform: translateX(50px);
        opacity: 0;
    }
    to {
        transform: translate(1px);
        opacity: 100;
    }
}

@keyframes bottom-phase-in {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translate(1px);
        opacity: 100;
    }
}

.right-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 65vh;
    gap: 10px;
    /*border: 1px solid rgb(0, 0, 0);*/
    /*border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);*/
}

.upper-container {
    display: flex;
    height: 65%;
    border: 1px solid rgba(125, 125, 125, 0.2);
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.12);
    background-color: rgba(255, 255, 255, 1);
    animation: right-phase-in 0.8s ease-in;
}

.upper-container:hover {
    box-shadow: 0 0 12px rgba(255, 153, 51, 1);
}

.images {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    opacity: 0.9;
}

.lower-container {
    display: flex;
    /*border: 1px solid blue;*/
    height: 45%;
    gap: 10px;
}

.cards {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3);
    border: 1px solid rgba(125, 125, 125, 0.2);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
    backdrop-filter: blur(4px);
    padding-left: 10px;
    padding-bottom: 10px;
    animation: bottom-phase-in 0.9s ease-in;
}

.cards:hover {
    box-shadow: 0 0 12px rgba(255, 153, 51, 1);
}

.icon {
    color: rgba(255, 153, 51, 1);
    padding-top: 10px;
    padding-bottom: 5px;
}

.card-title {
    margin: 0
}

.card-text {
    margin: 0;
    padding-top: 5px;
    font-size: 0.85rem;
    opacity: 0.8;
}


/* -----Media Queries----- */

/* Medium screens */
@media screen and (max-width: 1050px) {
    .content-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
    }

    .left-container {
        width: 80%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        padding-top: 30px;
        padding-bottom: 35px;
    }

    .right-container {
        width: 80%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        gap: 20px;
    }
}

/* Small screens */
@media screen and (max-width: 500px) {
    .content-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
    }

    .left-container {
        width: 80%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        padding-top: 30px;
        padding-bottom: 35px;
    }

    .right-container {
        width: 80%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        gap: 20px;
    }

    .upper-container {
        height: 210px;
    }

    .lower-container {
        flex-direction: column;
    }

    .cards {
        flex-direction: row;
        width: 100%;
        height: 120px;
        margin: 0;
        padding: 0;
    }

    .icon {
    margin: 20px;
    }

    .card-content {
        margin-top: 20px;
    }
}

.animate {
    animation-play-state: paused;
}

:global(.run-animation) {
  animation-play-state: running;
}
