@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

body {
    font-family: 'Roboto', sans-serif;;
}

.contact-section {
    display: flex;
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 150px;
    gap: 30px; 
    width: 100%;
    background-color: rgba(0, 0, 0, 0.95);
}

.lets-talk {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: auto;
    font-weight: 100;
    animation: phase-in-left 0.8s ease-in;
}

.heading2 {
    width: max-content;
    font-size: 4.5rem;
    font-weight: 100;
    font-weight: 300;
    margin: 10px;
    border-bottom: 3px solid var(--primary-color);
}

.dash {
    width: 320px;
    height: 3px;
    margin-bottom: 20px;
    background-color: var(--primary-color);
}

.heading4 {
    font-weight: 300;
    font-size: 1rem;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    margin: 10px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.2);
}

.text {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 10px;
    margin-bottom: 50px;
}

.contact-cards {
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
    align-items: center;
    margin: 10px;
}

.icon {
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
    margin-right: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    background-color: rgb(26, 26, 26);
    border-radius: 5px;
    padding-bottom: 50px;
    animation: phase-in-right 0.8s ease-in;
}

.contact-details {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.name {
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: 15px;
}

.email {
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: 15px;
}

.contact-input {
    border-radius: 5px;
    height: 2.5rem;
    background-color: rgba(255, 255, 255, 0.9);
    font-size: 1rem;
    padding-left: 10px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
}

.contact-input:focus {
    outline: none;
    border: none;
    box-shadow: 0 0 15px rgba(255, 153, 51, 1);
}

.message {
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 10px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

textarea {
    height: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-top: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
}

textarea:focus {
    outline: none;
    box-shadow: 0 0 15px rgba(255, 153, 51, 1);
}

.button {
    height: 3rem;
    border-radius: 10px;
    font-size: 1rem;
    background-color: var(--primary-color);
}

.animate {
    animation-play-state: paused;
}

/* ----- Key Frames ----- */
@keyframes phase-in-right {
    from{
        opacity: 0%;
        transform: translateX(80px);
    }
    to {
        opacity: 100%;
        transform: translateX(0);
    }
}

@keyframes phase-in-left {
    from{
        opacity: 0%;
        transform: translateX(-80px);
    }
    to {
        opacity: 100%;
        transform: translateX(0);
    }
}

/* ----- Media Quesries ----- */
@media screen and (max-width: 1023px) {
    .contact-section {
        flex-direction: column;
    }
    .lets-talk {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .form {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .heading4 {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 700px) {
    .contact-section {
        padding-bottom: 100px;
    }
}