footer {
    width: 100%;
    padding-top: 50px;
    background-color: rgba(0, 0, 0, 0.95);
    border-top: 1px solid rgba(104, 104, 104, 0.3);
}

.upper-footer {
    display: flex;
    justify-content: space-between;
    margin: 0 50px 20px;
}

.left-section {
    display: inline-flex;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
}

.heading3 {
    color: rgba(255, 255, 255, 0.9);
}

.bold {
    font-weight: 600;
}

.middle-section {
    display: inline-flex;
    flex-direction: column;
}

.heading4 {
    color: rgba(255, 153, 51, 0.85);
}

.links {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.8rem;
}

.bullet {
    color: var(--primary-color);
    margin-right: 5px;
    opacity: 0.85;
}

.right-section {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}


.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.icon {
    margin-right: 15px;
    color: rgba(255, 255, 255, 0.8);

}

.lower-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    height: 100px;
    color: rgba(255, 255, 255, 0.7);
}

.dash {
    width: 90%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.3);
    margin-top: 15px;
    margin-bottom: 15px;
}

.name {
    color: var(--primary-color);
    font-weight: 500;
}

/* ----- Media Queries ----- */
@media screen and (max-width: 700px) {

    .upper-footer {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    .left-section {
        flex: 0 0 100%;
    }

    .middle-section {
        flex: 1;
    }
    .right-section {
        flex: 1;
        margin-right: 0;
        margin-left: auto;
    }
}