.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: calc(100vh + 100px);
    background-color: rgb(0, 0, 0);
    position: relative;
    z-index: 0;

}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 20;
    width: 100%;
    height: 100%;
    margin: auto;
}

.bg-image {
    position: absolute;
    z-index: 10;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.45;
    animation: ZoomImage 13s infinite ease-in-out;
}

@keyframes ZoomImage {
    from {
        transform: scale(1);
        
    }
    to {
        transform: scale(1.2);
        
    }
}

.hero-content {
    width: 75%;
    margin: auto 10% auto ;
}

.hero-text {
    color: rgba(255, 255, 255, 0.9);
    font-size: 3.7rem;
    line-height: 1.1;
    font-style: italic;
}

.hero-button {
    display: inline-block;
    padding: 1rem 3.5rem;
    color: rgba(255, 255, 255, 1);
    backdrop-filter: blur(1px);
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
    animation: phase-in-vertically 1.2s ease-in forwards;
}

.delay-1 {
    animation: phase-in 0.5s ease-in;
}

.delay-2 {
    animation: phase-in 1s ease-in;
}

.delay-3 {
    animation: phase-in-vertically 1s ease-in;
    color: rgba(255, 255, 255, 0.7);
    font-size: larger;
    word-spacing: 0.2em;
    margin-bottom: 50px;
    font-style: italic;
}

@keyframes phase-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes phase-in-vertically {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(1px);
    }
}