.house-section {
    width: 100%;
    background-color: rgba(242, 242, 242, 1);
    color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    padding-top: 60px;
}

.dash {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    width: 200px;
    height: 3px;
    background-color: var(--primary-color);
}

.subtitle {
    display: flex;
    justify-content: center;
    font-weight: 500;
    opacity: 0.6;
}

.about-heading {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
    font-size: 2.5rem;
}

.content-container {
    display: flex;
    flex-direction: column;
    width: 65%;
    justify-content: center;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    animation: phase-in-bottom 0.8s ease-in;

}

.upper-container {
    display: flex;
    height: 50vh;
    width: 100%;
    gap: 1px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

.lower-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%;
    background-color: rgba(250, 250, 250, 1);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.22);
    border-radius: 0 0 15px 15px;
}

.left-container {
    position: relative;;
    height: calc(100% + 1px);
    width: 65%;
}

.left-container:hover {
    animation: zoom-in 0.3s ease forwards;
}

.right-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 35%;
    gap: 1px;
}

.right-upper-container {
    width: 100%;
    height: 50%;
}

.right-upper-container:hover {
    animation: zoom-in 0.3s ease forwards;
}

.right-lower-container {
    width: 100%;
    height: 50%;
}

.right-lower-container:hover {
    animation: zoom-in 0.3s ease forwards;
}

.images {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-overlay {
    opacity: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
    font-size: large;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;    
}

.img-overlay:hover {
    opacity: 100;
}


.more {
    display: flex;
    align-items: center;
    height: fit-content;
    border: 1px solid white;
    padding: 0.2rem 0.5rem 0.2rem 0.3rem;
    gap: 5px;
    background-color: rgba(0, 0, 0, 0.2);
}

.more:hover {
    backdrop-filter: blur(2px);
    font-weight: 500;
    pointer-events: visible;
}

.plus {
    display: inline-flex;
    margin: 0;
}

.title {
    display: inline-block;
    margin: 0;
    font-size: 1rem;
}

.description-container {
    margin-left: 30px;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;    
} 

.text-container {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.location {
    display: block;
    margin-bottom: 3px;
    margin-left: 3px;
}

.icons-container {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.button {
    display: inline-block;
    padding: 0.5rem 0.8rem;
    margin-right: 35px;
    margin-bottom: 10px;
    color: rgba(235, 235, 235, 1);
    background-color: rgba(239, 148, 57, 1);
    border: 1px solid rgba(125, 125, 125, 0.2);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(1px);
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
}

.bold {
    font-weight: 600;
}

.animate {
    animation-play-state: paused;
}

:global(.run-animation) {
    animation-play-state: running;
}


/* ----- Animations ----- */

@keyframes phase-in-right {
    from {
        transform: translateX(100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 100;
    }
}

@keyframes phase-in-left {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 100;
    }
}

@keyframes phase-in-bottom {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 100;
    }
}

@keyframes zoom-in {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.05);
    }
}

/* ----- Media Queries -----*/

@media screen and (max-width: 1050px) {
    .hidden {
        display: none;
    }
    .content-container {
        width: 80%;
    }
    .upper-container {
        height: 350px;
    }
    .house-section {
        padding-top: 30px;
        min-height: auto;
    }
}

@media screen and (max-width: 500px) {
    .location {
        display: none;
    }
    .description-container {
        margin-right: auto;
        margin-left: auto;
    }
    .lower-container {
        flex-direction: column;
        margin-left: 0;
        margin-right: auto;    
    }
    .upper-container {
        height: 200px;
    }
}