.navbar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    z-index: 50;
    width: 100%;
    height: 80px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(3px);
}

.scrolled-navbar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    z-index: 50;
    width: 100%;
    height: 80px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(55, 55, 55, 0.7);
    backdrop-filter: blur(10px);
    animation: scrolled 1.3s ease-out;
}

@keyframes scrolled {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}


.logo {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding-left: 30px;
}

.logo-link {
    text-decoration: none;
    color: inherit;
}

.logo-image {
    width: 100px;
    height: 100px;
}

.logo-text {
    margin: 0;
    font-size: x-large;
    color: rgba(255, 255, 255, 0.8);
}

.nav-items {
    display: flex;
    align-items: center;
    padding: 0 50px;
    gap: 60px;
    font-size: medium;
}

.nav-text {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 600;
}

.button {
  padding: 0.75rem 1.5rem;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(226, 205, 205, 0.5);
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
}

/* desktop navbar on smaller screens */
@media screen and (max-width: 880px) {
    
    .nav-items {
        display: none;
    }

    .menu-button {
        display: flex;
        background-color: transparent;
        color: rgba(255, 255, 255, 0.8);
        border: none
    }

}

/* hide Booking button on smaller screens */
@media screen and (max-width: 1050px) {
    .button {
        display: none;
    }
}

/* hide menu button on bigger screens */
@media screen and (min-width: 880px) {
    .menu-button {
        display: none;
    }

    .menu-overlay {
        opacity: 0;
        display: none;
        pointer-events: none; /* ensure overlay doesn't effect desktop nav*/
        visibility: hidden;
    }
}

.menu-overlay {
  position: fixed;
  inset: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 40;
}

.mobile-nav-items {
    display: flex;
    text-align: center;
    flex-direction: column;
    line-height: 2.5;
    
}

.mobile-nav-text {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    font-size: x-large;
}

.x-button {
    position: absolute;
    top: 25px;
    right: 5px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.8);
    border: none
}